body {
    box-sizing: border-box;
}

img {
    max-width: 100%;
    height: auto;
}

#awm-header {
    height: 300px;
    background-image: url('https://www.japan-guide.com/thumb/XYZlistXYZe1203_1680.jpg');
}

.awm-recommended {
    border-radius: 5px;
    margin-top: 15px;
    padding: 15px;
    color: white;
    height: 150px;
    background-size: cover;
}

.awm-recommended h5 {
    margin: 0;
}

.content-main {
    min-height: 100vh;
}

#location-all {
    margin-top: 30px;
}

#filters ul {
    list-style: none;
}

#filters .children {
    display: none;
}

.awm-block {
    border-radius: 5px;
    margin-bottom: 10px;
    margin-top: 30px;
    box-shadow: 0 -3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.menu-icon:hover {
    color: black;
}

.bus-time {
    padding: 10px;
    border-top: 1px solid #cacaca;
}

.bus-time p {
    margin: 0;
}