body {
    box-sizing: border-box;
}

img {
    max-width: 100%;
    height: auto;
}

#awm-header {
    height: 300px;
}

.content-main {
    min-height: 100vh;
}

#bus {
    min-height: 200px;
}

#filters ul {
    list-style: none;
}

#filters ul > li {
    padding: 10px;
}

#filters .children {
    display: none;
}

.awm-block {
    border-radius: 5px;
    margin-bottom: 10px;
    margin-top: 10px;
    box-shadow: 0 -3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.caret-right {
    border-bottom: 4px solid transparent;
    border-top: 4px solid transparent;
    border-left: 4px solid;
    display: inline-block;
    height: 0;
    opacity: 0.3;
    vertical-align: top;
    width: 0;
}

.busthing {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    background-color: lightseagreen;
    display: inline-block;
}

.inliney {
    display: inline-block;
}