body {
    box-sizing: border-box;
    background-color: #F0F0F0 !important;
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
}

header {
    background-color: #F0F0F0 !important;
}

footer {
    background-color: #F0F0F0 !important;
}

img {
    max-width: 100%;
    height: auto;
}

a:hover {
    color: #008D38;
}

#awm-header {
    height: 45vh;
    background-size: cover;
    background-position: center;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.awm-recommended {
    border-radius: 5px;
    margin-top: 15px;
    color: white;
    padding: 10px;
    height: 150px;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.awm-recommended h5 {
    margin: 0;
}

.awm-recommended p {
    margin: 0;
}

.content-all {
    min-height: 100vh;
}

#location-all {
    margin-top: 30px;
}

#filters ul {
    list-style: none;
}

#filters .children {
    display: none;
}

#logo {
    color: white;
}

#recommended {
    padding-bottom: 15px;
}

.cat-wrapper {
    padding-bottom: 5px;
}

.awm-block {
    /* border-radius: 5px; */
    margin-bottom: 20px;
    margin-top: 10px;
    box-shadow: 0 -3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    background-color: #fff;
    /* border: 1px solid #008D38; */
    color: #444444;
    position: relative;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    background-color: #FFFFFF;
}

.article-list-item {
    padding: 20px 0;
}

.awm-block a {
    text-decoration: none;
    color: inherit;
}

.awm-block a:hover {
    color: inherit;
}

.detail-wrapper {
    padding: 5px;
    border-bottom: 1px solid grey;
}

.detail-wrapper p {
    margin: 0;
    padding: 5px;
}

.menu-icon {
    cursor: pointer;
}

.menu-icon:hover {
    color: black;
}

.bus-time {
    padding: 10px;
    border-top: 1px solid #cacaca;
}

.bus-time p {
    margin: 0;
}

.awm-side-link {
    padding: 10px;
    display: flex;
    flex-direction: row-reverse;
    border-top: 1px solid #cacaca;
}

.awm-read-more {
    display: flex;
    flex-direction: row-reverse;
}

.terms-list {
    margin: 2px;
    color: white !important;
}

.awm-pagin {
    padding: 0;
    margin-top: 15px;
}

.awm-pagin > p {
    text-align: center;
}

.awm-pagin a {
    padding: 5px;
    box-shadow: 0 -3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    /* border: 1px solid #008D38; */
    color: #008D38;
    background-color: white;
}

.awm-pagin a:hover {
    color: #008D38;
}

.active-page {
    color: grey !important;
}

.awm-article {
    padding: 20px;
}

.article-title {
    margin-bottom: 10px;
    border-bottom: 1px solid grey;
    padding: 15px;
    padding-left: 0px;
}

.awm-title {
    padding-top: 10px;
    padding-bottom: 0.5em;
    margin: 10px;
    border-bottom: 1px solid grey;
}

.awm-flex {
    display: flex;
    justify-content: space-between;
}

.a-list-content {
    border-bottom: 1px solid grey;
    padding-bottom: 15px;
}

.a-list-content > p {
    line-height: 1.8;
    font-size: 1.125rem;
}

.awm-social-buttons {
    padding: 5px;
}

.awm-mobile-menu {
    background-color: white;
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 10px;  
}

.awm-mobile-menu a {
    margin-left: 20px;
    margin-right: 20px;
}

#menu-collapse {
    
}

.awm-mobile-menu p {
    margin: 0;
}

.awm-mobmenu-wrapper  a {
    text-decoration: none;
    color: inherit;
}

.awm-mobmenu-wrapper  a:hover {
    text-decoration: none;
    color: inherit;
}

.awm-mobmenu-wrapper {
    color: #444444;
}

#scrolltop {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.9);
    width: 50px;
    height: 50px;
    display: block;
    text-decoration: none;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    border-radius: 35px;
    display: none;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    z-index: 1000;
}
#scrolltop i {
    color: #fff;
    margin: 0;
    position: relative;
    left: 16px;
    top: 13px;
    font-size: 19px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
#return-to-top:hover {
    background: rgba(0, 0, 0, 0.9);
}
#return-to-top:hover i {
    color: #fff;
    top: 5px;
}

.tt-available {
    color: #008D38;
}

.tt-unavailable {
    color: rgb(161, 161, 161);
}

/*
.ribbon-left {
    border-color: grey;
    border-top: none;
    border-bottom: none;
    border-right: none;
    border-left: 10px solid;
} */
